@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #ededed;
  font-family: serif;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}
header {
  padding: .7em;
    border-bottom: 3px solid black;
}

body {
  background-color: #ededed;
  color: #dbd6cf;
  margin: .5em;
  padding: .5em;
}

h1 {
  font-size: 39px;
  padding: .3em;
  color: black;
  margin: 0;
  font-family: "Lobster", cursive;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
}

li {
  display: inline-block;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  display: inline-block;
  text-align: center;
  list-style-type: square;
  background-color: #cc7575;
  padding: .9em .8em .78em;
  margin: .3em;
  border-radius: 3px;
}

a:hover {
  background-color: #bc5151;
  color: #dbd6cf;
}

p {
  font: serif;
  font-size: 1.3rem;
text-align: center;
color: black;
font-family: "Lobster", cursive;
}
/*buttons*/

/*image*/

div {
  /*
  max-width: 350px;
  padding: 0;
  display: block;
  margin: 5rem;
  */

}

/*media q*/

body {
  text-align: center;
}

img {
  display: inline-block;
  width: 100%;
}

img:nth-child(2),
img:nth-child(4) {
  display: none;

}

@media only screen and (min-width: 25em) {

  html {
    font-size: 1.3rem;
    line-height: 1.3;
  }

  img {
    display: inline-block;
    width: 49%;
  }

  img:nth-child(2),
  img:nth-child(4) {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  img {
    width: 32%;
  }

  img:first-child {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  img {
    width: 24%;
  }

  img:first-child {
    display: inline-block;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  img {
    width: 20%;
  }

  img:first-child {
    display: inline-block;
  }

}
